* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    font-family: sans-serif;     
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
    display: none;
}

task-list::part(box) {
    --background-color: green;
}

textarea {
    width: 100% !important;
}
